<section class="intro">
  <div class="tagLine-wrapper">
    <h1>
      World Of Nation<br />
      Sports Academy
    </h1>
    <br />
    <p>International sports academy in india</p>
    <br />
    <button class="btn btn-explore">Explore</button>
    <div class="tagLine">
      An academy focused on athletics, games, and<br />academic ability with
      world class infrastructure,<br />professional coaches, best training
      teachers and sports clinics.
    </div>
  </div>
  <div class="image-wrapper">
    <img
      src="../../../../assets/images/kuan-fang-WaQ5xQq2E6g-unsplash.jpg"
      alt=""
      srcset=""
    />
  </div>
</section>
<section class="about-us">
  <h1>About Us</h1>
  <br />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur iste
    corrupti reprehenderit, cum aut eius temporibus voluptas dicta, beatae
    officiis, ut perferendis praesentium! Aperiam excepturi, praesentium rerum
    deleniti ducimus quo at provident blanditiis debitis soluta saepe, eum
    repellendus. Dolore delectus excepturi itaque omnis molestias praesentium
    amet at voluptatum quo! Id molestiae placeat ex nemo aperiam soluta
    aspernatur odit sint voluptatibus. Quo sapiente vero id! Laudantium nobis,
    earum consectetur similique veritatis voluptatem quidem maxime ea dolorum
    facilis libero blanditiis cumque nisi, assumenda doloribus quo iure
    repellendus beatae magnam reiciendis aut? Voluptatem nesciunt eveniet
    deleniti magnam nihil quidem, voluptates earum enim maxime pariatur, nostrum
    cum sit iure nulla possimus eaque rem quos expedita doloremque eligendi
    asperiores dolores ullam? Accusantium facere recusandae aperiam quod officia
    ut cupiditate, voluptatum ratione optio incidunt ipsa veniam deleniti nam
    saepe dicta provident tempore, maiores fugit? Perspiciatis assumenda totam
    architecto atque provident vero necessitatibus vel saepe quae. Voluptate aut
    saepe blanditiis optio facere? Dicta, minima? Enim doloremque quas alias
    eum, nostrum itaque cumque laboriosam illum, veritatis, atque dolor facere
    ipsa a? Assumenda magni animi distinctio voluptatum voluptatem corrupti
    commodi facilis, quibusdam consequuntur, dolor perferendis deleniti nam amet
    minima suscipit tenetur nostrum aliquid, magnam rem? Minima magni harum
    debitis error non placeat maiores, eum dicta eos eaque ducimus accusamus
    provident facere accusantium quo repellat? Animi harum ullam quos porro
    optio nemo modi, iusto quidem accusamus inventore consequuntur laborum esse
    eum. Quo animi libero harum, itaque, nisi amet blanditiis ipsam fugiat aut
    quae nobis quidem praesentium labore, aperiam ut repellat. Maiores sit,
    voluptatem neque tenetur provident beatae quo, placeat totam natus,
    doloribus ratione ipsam earum quasi! Possimus officiis voluptates nobis
    architecto quaerat voluptatibus tempora sapiente eum nostrum voluptatum,
    debitis nesciunt laborum totam ipsam nemo magnam veritatis excepturi
    delectus a nulla animi repellat ullam iste? Minus magnam dicta explicabo,
    facilis, impedit quas, saepe quasi illo tempora a nobis debitis deserunt
    dignissimos beatae libero aliquam voluptas accusantium distinctio
    consequatur expedita placeat. Iure asperiores maxime facilis. Numquam autem
    sunt esse similique, laborum in ullam, temporibus asperiores non ea,
    assumenda iusto voluptatem? Consequuntur officiis blanditiis nesciunt
    assumenda at est, accusantium cupiditate autem consectetur culpa itaque
    dolorum ipsa consequatur minima maxime enim distinctio iste ipsum sit?
    Maiores alias officiis modi doloribus doloremque atque assumenda suscipit
    odio, soluta aut ullam voluptatum earum pariatur quia unde placeat
    architecto id recusandae ipsam in? Incidunt provident earum odio qui sint
    maxime mollitia illum doloremque, laudantium minima? Delectus, magnam eum.
  </p>
  <br />
  <div class="row" >
      <div class="item" *ngFor="let res of getData" [ngStyle]="{'background-image': 'url('+ res.image +')'}">
        <p>{{res.title}}</p>
        <br>
        <small>{{res.description}}</small>
      </div>
      <div class="chooseUs">
        <br>
        <br>
        <br>
        <br>
        <h1>Why Choose Us</h1>
      </div>
    </div>
  <div class="activities-wrapper">
    
  </div>
</section>
<br />
<section class="booking">
    <h1>wonder of nation sports academy</h1>
    <br />
    <h2>Shapping The Future Of Nation</h2>
    <br />
    <button class="btn btn-booking">Book Your Seat Now</button>
</section>
<br />
<br />
<br /> 
