<div class="nav-row">
    <div class="companyLogo">

    </div>
    <div class="navLink">
        <div class="contactUs">
            <div class="float-right">
                <mat-icon aria-label="home-icon">search</mat-icon>
                <mat-icon aria-label="phone-icon">phone</mat-icon>
                <mat-icon aria-label="mail-icon">mail</mat-icon>
            </div>
        </div>
          <ul class="nav-items">
            <li>
                <a routerLink="/" routerLinkActive="active">
                    Our Academy
                </a>
            </li>
            <li>
                <a routerLink="/ambassadors" routerLinkActive="active">
                    Ambassadors
                </a>
            </li>
            <li>
                <a routerLink="/facilities"routerLinkActive="active">
                    Facilities
                </a>
            </li>
            <li>
                <a routerLink="/mission" routerLinkActive="active">
                    Mission
                </a>
            </li>
            <li>
                <a routerLink="/partnership" routerLinkActive="active">
                    Partnership
                </a>
            </li>
            <li>
                <a routerLink="/patrons&advisors" routerLinkActive="active">
                    Patrons & Advisors
                </a>
            </li>
            <li>
                <a routerLink="/contact-us" routerLinkActive="active">
                    Contact Us
                </a>
            </li>
          </ul>  
    </div>
</div>
