<div class="footer">
    <div class="positionRelative">
        <div class="tagline">
            <div class="content">
                we'd love to hear from you !!! 
            </div>
        </div>
    </div>
    <br />
    <div class="footer-row">
        <div class="quick-start section">
            <h1>Quick Links</h1>
            <br>
            <div class="row">
                <div class="row-1">
                    <ul>
                        <li>
                            <a>About Us</a>
                        </li>
                        <li>
                            <a>Contact Us</a>
                        </li>
                        <li>
                            <a>Careers</a>
                        </li>
                    </ul>
                </div>
                <div class="row-2">
                    <ul>
                        <li>
                            <a>Terms and conditions</a>
                        </li>
                        <li>
                            <a>Disclaimer</a>
                        </li>
                        <li>
                            <a>Faq</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="get-in-touch section">
            <h1>Get in Touch</h1>
            <br />
            <p>Subscribe to us and be the first to know about<br />our new events, courses and much more</p>
        </div>
        <div class="won-academy section">
            <h1>won academy</h1>
            <br />
            <p>An academy focused on athletics, games, and <br /> 
            academic ability with world-class infrastructure, <br />
            professional coaches, best training teachers <br /> 
            and sports clinic.</p>
        </div>
    </div>
</div>